*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(peakpx.jpg);
    background-size: cover;
}
a{
    text-decoration: none;
    color: wheat;
    font-size:20px;
}
#home{
    margin-top: 20px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#charBtn{
    background-color: #031f35;
    border: none;
    border-radius: 1em;
    width: 180PX;
    height: 60PX;
    color: #dedbb0;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20PX;
    border: 2px solid #dedbb0;
}
#spellBtn{
    background-color: #031f35;
    border: none;
    border-radius: 1em;
    width: 180PX;
    height: 60PX;
    color: #dedbb0;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20PX;
    border: 2px solid #dedbb0;
}
#staffBtn{
    background-color: #031f35;
    border: none;
    border-radius: 1em;
    width: 180PX;
    height: 60PX;
    color: #dedbb0;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20PX;
    font-weight: bolder;
    border: 2px solid #dedbb0;
}
#studentBtn{
    background-color: #031f35;
    border: none;
    border-radius: 1em;
    width: 180PX;
    height: 60PX;
    color: #dedbb0;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20PX;
    font-weight: bolder;
    border: 2px solid #dedbb0;
}
#box1{
    display: flex;
    flex-wrap:wrap;
    -ms-flex-align: start;
    justify-content: space-evenly;
    align-items: center;
}
#box2{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}
#box3{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}
#box4{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}
#character{
    height: 300px;
    margin: 20px;
    text-align: center;
    color: wheat;
}
#spell{
    width: 200px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    color: wheat;
    font-size: 18px;
    border: 2px solid wheat;
    align-content: center;
}
#staff{
    width: 200px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    color: wheat;
    font-size: 18px;
    border: 2px solid wheat;
    align-content: center;
}
#student{
    width: 200px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    color: wheat;
    font-size: 18px;
    border: 2px solid wheat;
    align-content: center;
}

.photo{
    border: 2px solid #dedbb0;
}